usage:
  users:
    model: 'date_range_value'
    ranges:
      - ['20180101', '20181201', 100000]
      - ['20190101', '20191201', 200000]
      - ['20200101', '20201201', 300000]
  forms:
    model: 'derived_factor'
    dependant_field: 'users'
    factor: 600
  forms_total:
    model: 'cumulative'
    dependant_field: 'forms'
  cases:
    model: 'derived_factor'
    dependant_field: 'users'
    factor: 200
  cases_total:
    model: 'cumulative'
    dependant_field: 'cases'
  case_transactions:
    model: 'derived_factor'
    dependant_field: 'users'
    factor: 1600
  case_transactions_total:
    model: 'cumulative'
    dependant_field: 'case_transactions'
  task_cases:
    model: 'derived_factor'
    dependant_field: 'users'
    factor: 100
  task_cases_total:
    model: 'cumulative_limited_lifespan'
    dependant_field: 'task_cases'
    lifespan: 1
#  person_cases:
#    model: 'cumulative'
#    items_per_user:
  task_ledgers:
    model: 'derived_factor'
    dependant_field: 'task_cases'
    factor: 5
  task_ledger_updates:
    model: 'derived_factor'
    dependant_field: 'task_cases'
    factor: 4
  synclogs:
    model: 'derived_factor'
    dependant_field: 'users'
    factor: 10
  device_logs:
    model: 'derived_factor'
    dependant_field: 'users'
    factor: 1600
  device_logs_total:
    model: 'cumulative_limited_lifespan'
    dependant_field: 'device_logs'
    lifespan: 1
  images:
    model: 'derived_factor'
    dependant_field: 'users'
    factor: 33
  images_total:
    model: 'cumulative_limited_lifespan'
    dependant_field: 'images'
    lifespan: 3
  case_indices:
    model: 'derived_factor'
    dependant_field: 'cases_total'
    factor: 0.92
  kafak_changes:
    model: 'derived_sum'
    dependant_fields: ['forms', 'cases', 'case_transactions', 'task_ledger_updates']

storage:
  sql_primary:
    - field: 'forms_cum'
      bytes: 1200
    - field: 'cases_cum'
      bytes: 1800
    - field: 'case_indices'
      bytes: 380
    - field: 'case_transactions_cum'
      bytes: 515
    - field: 'task_ledgers'
      bytes: 450
    - field: 'task_ledger_updates'
      bytes: 420
